{% extends "layout_sme.html" %}

{% block pageTitle %}
  Software not chosen
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Your have not chosen any software</h1>

      <h2 class="govuk-heading-m">Before you apply for a financial discount, you need to choose your software with
      the <a href="#"> Help to Grow: Digital Product Comparison Tool.</a></h2>

      <p class="govuk-body">The Product Comparison Tool will help you to identify the best available software for your
      business' needs.</p>


    </div>
  </div>

{% endblock %}
