{% extends "layout_sme.html" %}

{% block pageTitle %}
Subsidy control
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Subsidy control</h1>

    <p class="govuk-body">
      Provision of this Voucher Token is a subsidy to your business and is provided as a Small Amount of Financial Assistance under Article 364.4 of the Trade and Cooperation Agreement. It is the responsibility of the business to ensure that acceptance of this Voucher Token will not cause it to exceed the maximum permitted threshold for <a href="#">Small Amounts of Financial Assistance</a>  or <a href="#"> De Minimis State aid</a>.
    </p>
    <p class="govuk-body">
      For further information, please refer to the [<a href="#">terms and conditions</a>].  Subject to exchange rate fluctuations, you are able to receive a total of approximately £330,000 in Small Amounts of Financial Assistance (taking into account De Minimis State aid received before 1 January 2021) over a period of three fiscal years. Where you are a goods or wholesale electricity company with operations based in Northern Ireland, or your business is otherwise in scope of the State aid provisions in the Northern Ireland Protocol, the Voucher Tokens are provided as De Minimis State aid. You are able to receive a total of 200,000 Euros in De Minimis State aid over a period of three fiscal years.
    </p>

  </div>
</div>

{% endblock %}
