{% extends "layout_sme.html" %}

{% block pageTitle %}
Terms and conditions
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Terms and conditions</h1>

    <p class="govuk-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper in nisi sed viverra. Proin et neque imperdiet, ultricies nunc ac, molestie libero.
    </p>
    <p class="govuk-body">
      Aliquam auctor nulla libero, ac aliquam eros ultricies ac. Curabitur consectetur diam leo, eget consequat lectus eleifend vitae. Pellentesque leo nunc, vestibulum a tortor et, lacinia lobortis felis. Vestibulum sed purus pharetra, auctor sapien vel, finibus velit. Mauris sed laoreet quam. Maecenas tortor ipsum, varius sed elementum ut, luctus et augue.
    </p>

  </div>
</div>

{% endblock %}
