{% extends "layout_sme.html" %}

{% block pageTitle %}
Accessibility
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">

<p><a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="javascript:history.back()">Back</a></p>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Accessibility statement for Help to Grow: Digital</h1>

    <p>This accessibility statement applies to: <a href="https://learn-to-grow-your-business.service.gov.uk/" class="govuk-link">learn-to-grow-your-business.service.gov.uk</a></p>
    <p>This website is run by the Department for Business, Energy & Industrial Strategy (BEIS). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts.</li>
      <li>navigate most of the website using just a keyboard.</li>
      <li>navigate most of the website using speech recognition software.</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver).</li>
    </ul>
    <p>We’ve also made the website text as simple as possible to understand.</p>
    <p><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

    <h2 class="govuk-heading-m">Feedback and contact information</h2>
    <p>If you need this website in a different format, such as accessible PDF, large print, easy read, audio recording or braille, please email: <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a>.</p>
    <p>In your email, include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>The web address (URL) of the content</li>
      <li>Your email address and name</li>
      <li>The format you need</li>
    </ul>
    <p>We’ll consider your request and get back to you with an initial response.</p>

    <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
    <p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a>.</p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">Equality Advisory and Support Service (EASS)</a>.</p>

    <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
    <p>Department for Business, Energy & Industrial Strategy (BEIS) is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h2 class="govuk-heading-m">Compliance status</h2>
    <p>This website is fully compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.</p>

    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p>This statement was prepared on 30/11/2021. It was last reviewed on 07/12/2021.</p>
    <p>This website was last tested on 02/12/2021. The test was carried out by Zoonou. We used this approach to deciding on a sample of pages to test <a href="https://www.w3.org/TR/WCAG-EM/" class="govuk-link">WCAG-EM</a>.</p>


  </div>
</div>

{% endblock %}
