{% extends "layout_sme.html" %}

{% block pageTitle %}
Contact us
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">

<p><a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="javascript:history.back()">Back</a></p>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Contact us</h1>
        <div class="govuk-inset-text">
          You can email us at <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a>
            <br>or call us on 020 7315 5000
            <br>Monday to Friday between 9am and 5pm
            <br><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
        </div>

        <!-- <p class="govuk-body">You can email us at <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a>
          <br>or call us on 020 7315 5000
          <br>Monday to Friday between 9am and 5pm
          <br><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p> -->

        <p class="govuk-body">You will need to provide:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>details regarding the enquiry, feedback and any specific information that is relevant</li>
            <li>contact name and contact details (if applicable)</li>
            <li>if this is a reply to an original response, please also include the customer or application reference number (if applicable)</li>
        </ul>
        <p class="govuk-body">For further information on contacting us please visit: <a href="how-to-get-in-touch" class="govuk-link">How to get in touch</a></p>
    </div>

</div>
{% endblock %}
