{% extends "layout_sme.html" %}

{% block pageTitle %}
Help to Grow: Digital - UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">

<p><a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="javascript:history.back()">Back</a></p>
{% endblock %}

{% block content %}
<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Help to Grow: Digital - UK</h1>
    <p  class="govuk-body-l">Information for businesses about the Help to Grow: Digital scheme.</p>

    <h2 class="govuk-heading-m">What is Help to Grow: Digital?</h2>
    <p>Help to Grow: Digital is a scheme available across the UK that aims to help small and medium-sized businesses choose, buy and adopt digital technologies that will boost their productivity and growth.</p>
    <p>The Help to Grow: Digital scheme offers:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free, impartial advice and guidance about what digital technology is best suited to your business and how it can boost your business’ performance</li>
      <li>targeted financial support worth up to £5,000, to cover up to half of the costs of buying approved digital technologies. Eligibility rules apply</li>
    </ul>

    <h2 class="govuk-heading-m">What is the business eligibility criteria?</h2>
    <p>All businesses can access the free, impartial advice and guidance on digital technology adoption on the Help to Grow: Digital online platform <a href="#" class="govuk-link">here</a>.</p>
    <p>The financial discount towards purchasing approved digital technologies from technology suppliers listed on the Help to Grow: Digital online platform is available to UK businesses that meet all four eligibility criteria below:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Your business must have a registered office in the UK (England, Wales, Scotland or Northern Ireland) and be registered at the relevant Companies House or be a registered society listed on the Financial Conduct Authority’s Mutuals Register</li>
      <li>Your business must have been actively trading for over 12 months prior to the date of application and have an incorporation date of, at minimum, 365 days prior to the date of application</li>
      <li>Your business must have a total of between 5 and 249 employees</li>
      <li>Your business must be purchasing the approved software for the first time</li>
    </ul>
    <p>The following technology upgrades are permitted under the Help to Grow: Digital discount for approved software product categories:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>moves between technology suppliers for similar products. A business may wish to move to a supplier that has software product that better meets its needs</li>
      <li>major upgrades that represent a significant shift and change in operations, for example from desktop-based applications to cloud based software as a service. This is permitted for existing technology supplier customers</li>
      <li>new variations to software products from new or existing technology suppliers that significantly expand product functionality and provide additional capability</li>
    </ul>
    <p>The person applying for the discount must be:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>aged 18 or over</li>
      <li>an employee of the business</li>
      <li>authorised to agree to the terms and conditions on behalf of the business</li>
      <li>able to confirm receipt of the financial discount will not cause the business to exceed the total threshold for Small Amounts of Financial Assistance or De Minimis aid (subsidy control) that they are entitled to receive over a 3-year period</li>
    </ul>
    <p>Each financial discount is only valid for the software product you have applied for. The financial discount is only for the use of the business applying and cannot be transferred. All financial discounts should be redeemed before their expiry date (30 days from successful application).</p>

    <h2 class="govuk-heading-m">What does the software financial discount cover?</h2>
    <p>This discount will initially provide financial discounts to SMEs for digital customer relationship management and accountancy solutions bought from eligible suppliers of the software.</p>
    <p>Eligible businesses will only receive one financial discount towards the purchase of one approved software product up to a maximum of £5,000 (not including VAT).</p>
    <p>The financial discount covers 12 months’ worth of approved software product core costs, exclusive of VAT.</p>
    <p>Costs that will not be covered by the discount include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>implementation (planning or delivery) services</li>
      <li>any separate one-off payments</li>
      <li>transaction costs</li>
      <li>professional, technical or supplier support services beyond those included as standard, or that are incurred at additional cost</li>
      <li>supplier support package uplifts that are provided at additional cost and provide more than standard supplier support offers</li>
      <li>VAT. The discount is applied against the total software product price offered by technology suppliers exclusive of VAT. VAT will be due on the full price of the software product at point of purchase on the supplier website. For example, if a software product costs £1,000 excluding VAT, the VAT due at the point of purchase with a technology supplier would be £200 (20% of the total cost), rather than 20% of the discounted cost</li>
    </ul>

    <h3 class="govuk-heading-s">Subsidy Control</h3>
    <p>The financial discount counts towards the total threshold for Small Amounts of Financial Assistance or De Minimis aid that you are allowed to get over a 3-year period. You must check that by receiving this financial discount you will not exceed these thresholds.</p>
    <p>Subject to exchange rate fluctuations, you are able to receive a total of approximately £330,000 in Small Amounts of Financial Assistance (taking into account De Minimis aid received before 1 January 2021) over a period of three fiscal years.</p>
    <p>Where you are a goods or wholesale electricity company with operations based in Northern Ireland, or your business is otherwise in scope of the State aid provisions in the Northern Ireland Protocol, the financial discount is provided as De Minimis aid. You are able to receive a total of 200,000 Euros in De Minimis aid over a period of three fiscal years.</p>

    <h2 class="govuk-heading-m">Will further support become available?</h2>
    <p>The scheme is open for three years from December 2021 onwards. Further information on changes to the scheme will be published on GOV.UK.</p>
    <p>Additional software products and software product categories, including e-Commerce software, are expected to be added to the Help to Grow: Digital discounts available in due course.</p>

    <h2 class="govuk-heading-m">How do I apply for the financial discount?</h2>
    <p>If you are eligible, you can apply for a discount for your business via the Help to Grow: Digital online platform <a href="#" class="govuk-link">here</a>.</p>
    <p>Before you apply, you will need to know the software product you want to buy. You can <a href="https://www.figma.com/proto/h2T83B0oOAcriqYc9PBwka/LP-Prototype-(Copy)?node-id=2213%3A43165&starting-point-node-id=2213%3A47804" class="govuk-link">compare and choose approved business software on the Help to Grow: Digital website</a>.</p>
    <p>You will need to complete the online application process on the GOV.UK website, where you will be asked to provide information on you and your business. Fraud and verification checks will be conducted on your application to determine if you are eligible to receive a financial discount. These checks will not affect your business’ credit score.</p>
    <p>Once you have successfully completed the online application and passed all eligibility and fraud checks, you will receive a unique link with your discount. This will direct you off the GOV.UK website to your chosen software supplier’s purchasing webpage, where you can complete your product purchase with the discount applied.</p>
    <p>Your chosen technology supplier will provide a final breakdown of costs before your purchase. The discount cannot be used towards VAT, VAT will be added to the total cost of the software before the financial discount and the VAT will be due at point of purchase.</p>
    <p>You will also be emailed this unique link should you wish to return later to complete your purchase.</p>
    <p>The financial discount will expire after 30 days, and your unique link will become invalid.</p>
    <p>If you have been issued a financial discount and want to change it, you should contact us at <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a> and request a change.</p>

    <h2 class="govuk-heading-m">What help and support is available?</h2>
    <p>To contact the Help to Grow: Digital team, please see <a href="how-to-get-in-touch" class="govuk-link">how to get in touch</a> for further information on how to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>make an enquiry. This includes enquiries about financial discount applications</li>
      <li>appeal a decision for an unsuccessful financial discount application</li>
      <li>make a complaint</li>
      <li>make a formal request (for example, a Freedom of Information Request)</li>
    </ul>

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Useful links
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="terms-and-conditions-detail" class="govuk-link">
              Terms and conditions
            </a>
          </li>
          <li>
            <a href="privacy-policy" class="govuk-link">
              Privacy policy
            </a>
          </li>
          <li>
            <a href="http://htg-uat-webapp-app.htg-uat-webapp-env.p.azurewebsites.net/" class="govuk-link">
              Help to Grow: Digital website
            </a>
          </li>
          <li>
            <a href="start-page" class="govuk-link">
              Apply for discount on business software
            </a>
          </li>
          <li>
            <a href="how-to-get-in-touch" class="govuk-link">
              How to get in touch
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>

</div>

{% endblock %}
