{% extends "layout_sme.html" %}

{% block pageTitle %}
How to get in touch
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">

<p><a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="javascript:history.back()">Back</a></p>
{% endblock %}

{% block content %}
<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">How to get in touch with Help to Grow: Digital</h1>
    <p  class="govuk-body-l">This page tells you how to get in touch with the Help to Grow: Digital scheme, including how to make a complaint and how to appeal a decision.</p>

    <!-- <ol class="govuk-list govuk-list--number">
      <li>The Help to Grow: Digital Scheme is a grant token scheme which supports the purchase and adoption for eligible SMEs in the UK of certain Eligible Software Products.</li>
      <li>These Terms and Conditions must be accepted by SME’s wishing to participate in the Scheme by taking Grant Tokens towards the purchase of Eligible Software Products.</li>
      <li>Grant Tokens under the Scheme will be offered to SMEs who meet certain eligibility requirements and have accepted these Terms and Conditions.</li>
    </ol> -->

    <p>The following information tells you what to do if you want to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>make an enquiry. This includes enquiries about financial discount applications.</li>
      <li>appeal a decision for an unsuccessful financial discount application.</li>
      <li>make a complaint.</li>
      <li>make a formal request (for example, a Freedom of Information Request).</li>
    </ul>


    <h2 class="govuk-heading-m">Types of correspondence</h2>
    <p>We are fully committed to ensuring your successful participation in the scheme.</p>
    <p>We take all feedback seriously and are committed to listening to your views to help us continually improve:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>enquiries and feedback</strong> – where you are seeking guidance, general information, an update, or where you would like to share positive or negative feedback.</li>
      <li><strong>complaints</strong> – if you are dissatisfied with the Help to Grow: Digital scheme or its service provision and would like to raise a grievance.</li>
      <li><strong>appeals</strong> – where your application is unsuccessful and you want to find out more or challenge the decision.</li>
      <li><strong>formal requests</strong> – where you are seeking information related to the scheme or your application.</li>
    </ul>

    <h2 class="govuk-heading-m">Enquiries and feedback</h2>
    <p>For all enquiries that you are unable to find in the Help to Grow: Digital guidance <a href="#" class="govuk-link">here</a> or the main Help to Grow: Digital online platform <a href="#" class="govuk-link">here</a> and for any feedback you would like to provide, you can email us at <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a> or call us on 020 7315 5000, Monday to Friday, between 9am and 5pm.</p>
    <p>You will need to provide:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>details regarding the enquiry, feedback and any specific information that is relevant.</li>
      <li>contact name and contact details (if applicable).</li>
      <li>if this is a reply to an original response, please also include the customer or application reference number (if applicable).</li>
    </ul>

    <h3 class="govuk-heading-s">Our timescales for responding to enquiries and feedback</h3>
    <p>We aim to respond to all enquiries and feedback within 7 working days. In exceptional circumstances where we are unable to provide a full response within the timeframe, we will ensure you receive an update setting out how we will look to resolve any outstanding issues.</p>

    <h2 class="govuk-heading-m">Complaints procedure</h2>
    <p>If you have a complaint about the Help to Grow: Digital scheme, please email us at <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a></p>
    <p>You will please need to provide:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a summary of the issue, setting out what has happened.</li>
      <li>how you would like us to resolve the issue.</li>
      <li>your contact name and contact details.</li>
      <li>if this is a reply to an original response or a financial discount application, please also include the customer or application reference number (if applicable).</li>
      <li>if you have a complaint or comment about an issue with the software product or technology supplier, please contact them directly in the first instance. They will investigate your complaint under their own procedures.</li>
    </ul>
    <h3 class="govuk-heading-s">Our timescales for responding to complaints</h3>
    <p>We aim to respond to complaints within 20 working days. In exceptional circumstances where we are unable to provide a full response within the timeframe, we will ensure you receive an update setting out how we will look to resolve any outstanding issues.</p>

    <h2 class="govuk-heading-m">Appeals process</h2>
    <p>If your application for a financial discount is unsuccessful, you can contact us at <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a> to find out more</p>
    <p>You can appeal financial discount eligibility decisions if you think that the decision was:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>based on a factual error.</li>
      <li>legally wrong.</li>
      <li>made an error during the processing of your application.</li>
    </ul>
    <p>To formally appeal your financial discount award decision, you must submit your appeal within 10 working days from the date of your financial discount award decision by emailing us at <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a></p>

    <p>When submitting an appeal, your request must include your:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>full name.</li>
      <li>customer or application reference number.</li>
      <li>contact information.</li>
      <li>specific reason(s) for appeal.</li>
    </ul>

    <p>You can send additional information to support your appeal claim, including:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>supporting documentation for your appeal.</li>
      <li>additional justification for appealing the scheme decision.</li>
      <li>if you think we made an error or missed important evidence.</li>
    </ul>

    <p>Supporting documentation could include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Business bank statement.</li>
      <li>Companies House or FCA registration documents.</li>
      <li>Annual accounts such as Tax Return or confirmation statement filed with HMRC or Companies House.</li>
      <li>HMRC – PAYE Tax and NI or pension contributions documents (including download for HMRC PAYE online).</li>
    </ul>

    <p>This list is not exhaustive. Evidence supplied needs to match the name and company reference used in the SME application. Variations will not be accepted.</p>

    <p>The evidence provided needs to be:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Online attachments or scanned documents to be emailed to us at us at <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a></li>
      <li>An original copy and sent by post to
        <p>Help to Grow: Digital<br>
          1 Victoria Street<br>
          London<br>
          SW1H 0ET<br>
          United Kingdom</p></li>
      <li>Documents need be recent and dated within the last 3 months with the exception of annual and quarterly bills.</li>
      <li>Evidence needs to be supplied with the requested timescale to support the decision-making process.</li>
    </ul>

    <h3 class="govuk-heading-s">Our timescales for responding to appeals</h3>
    <p>We will carefully review your application against the selection criteria. All decisions will be based on the information included in your application, current scheme policies and documents provided with your appeal.</p>
    <p>We aim to communicate appeal decisions within 20 working days from the receipt of your request. You will also be provided with additional detail explaining the basis for the decision as well as additional steps you can take, where relevant.</p>
    <p>In exceptional circumstances where we are unable to provide a full response within the timeframe, we will ensure you receive an update setting out how we will look to resolve any outstanding issues.</p>

    <h2 class="govuk-heading-m">Formal requests</h2>
    <h3 class="govuk-heading-s">Freedom of Information Request (FoI)</h3>
    <p>If you are seeking public information or information not related to you, we will treat your request as an FoI request. We will respond in 20 working days of receiving your request. In certain circumstances, we are allowed to refuse your request for information or we may provide you with information which has been redacted.I In either case, we will respond explaining why.</p>

    <h3 class="govuk-heading-s">Data Subject Right Requests (DSR)</h3>
    <p>As set out in our Privacy Policy, you have a number of rights in relation to your personal data. For example, you can request a copy of your personal data held by us in relation to Help to Grow: Digital in line with UK data protection laws.</p>
    <p>To make a FoI request or DSR (including to request a copy of your personal data), please contact us at <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a></p>
    <p>Any DSR should only be about information held by us in relation to Help to Grow: Digital. If your request relates to information held by a technology supplier, please contact them directly.</p>
    <p>To withdraw your consent for data processing please contact us at <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a></p>

    <h3 class="govuk-heading-s">What I need to provide for an FOI or DSR?</h3>
    <p>Please include the following in your request:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a clear label for your request (for example, use ‘data subject right request’ or ‘freedom of information request’) as your email subject line</li>
      <li>your name</li>
      <li>customer reference number (if relevant)</li>
      <li>a comprehensive list of what data you want to access</li>
      <li>any details, relevant dates, or search criteria that will help the organisation identify what you want</li>
      <li>for a DSR, where possible, please be as specific as you can regarding the personal data you require. This will help to ensure a more targeted search and timely response</li>
    </ul>
    <p>Do not include other information with your request, such as details about a wider customer service complaint. Please submit a separate request (see the complaint process section).</p>

    <h2 class="govuk-heading-m">Extra Support</h2>
    <p>If you have difficulty using a computer, we can help.</p>
    <p>Please contact the Assisted Digital team at <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a> or call us on 020 7315 5000, Monday – Friday between 9am and 5pm.</p>

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Useful links
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="terms-and-conditions-detail" class="govuk-link">
              Terms and conditions
            </a>
          </li>
          <li>
            <a href="privacy-policy" class="govuk-link">
              Privacy policy
            </a>
          </li>
          <li>
            <a href="http://htg-uat-webapp-app.htg-uat-webapp-env.p.azurewebsites.net/" class="govuk-link">
              Help to Grow: Digital website
            </a>
          </li>
          <li>
            <a href="start-page" class="govuk-link">
              Apply for discount on business software
            </a>
          </li>
          <li>
            <a href="general-guidance" class="govuk-link">
              General guidance
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>

</div>

{% endblock %}
