{% extends "layout_sme.html" %}

{% block pageTitle %}
Privacy Policy
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">

<p><a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="javascript:history.back()">Back</a></p>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Privacy Policy</h1>

    <ol class="govuk-list govukcontents-list__list">
      <li>&ndash; <a href="#background">Background</a></li>
      <li>&ndash; <a href="#your-data">Your Data</a></li>
      <li>&ndash; <a href="#purpose">Purpose</a></li>
      <li>&ndash; <a href="#legal-basis-of-processing">Legal basis of processing</a></li>
      <li>&ndash; <a href="#how-we-protect-your-data-and-keep-it-secure">How we protect your data and keep it secure</a></li>
      <li>&ndash; <a href="#recipients">Recipients</a></li>
      <li>&ndash; <a href="#retention">Retention</a></li>
      <li>&ndash; <a href="#your-rights">Your Rights</a></li>
      <li>&ndash; <a href="#where-do-we-process-your-personal-data">Where do we process your personal data?</a></li>
      <li>&ndash; <a href="#complaints">Complaints</a></li>
      <li>&ndash; <a href="#contact-details">Contact Details</a></li>
      <li>&ndash; <a href="#other-data-processing">Other data processing</a></li>
    </ol>

            <p class="govuk-body">
                This notice sets out how we will use your personal data, and your rights. It is made under Articles 13 and/or 14 of the UK General Data Protection Regulation (UK GDPR).
            </p>
            <p class="govuk-body">
                This notice relates to data collected under the Help to Grow: Digital scheme run by the UK Government Department for Business, Energy and Industrial Strategy (“BEIS”).
            </p>



            <h2 class="govuk-heading-m" id="background">Background</h2>
            <p class="govuk-body">
                The Help to Grow: Digital scheme is funded by BEIS and administered by the Scheme Administrator, PricewaterhouseCoopers (PwC). BEIS is the Data Controller, PwC will be the Data Processor.
            </p>
            <p class="govuk-body">
                The recipients listed below will also be Data Processors for the Help to Grow: Digital scheme.
            </p>
            <p class="govuk-body">
                References to “we” and “our” in this Privacy Policy mean BEIS and PwC. Any references in this Privacy Policy to “you” or “your” means the Scheme Participant.
            </p>
            <h2 class="govuk-heading-m" id="your-data">Your Data</h2>
            <p class="govuk-body">
                We will process the following personal data:
                <ul class="govuk-list govuk-list--bullet">
                    <li>First name</li>
                    <li>Surname</li>
                    <li>Email address</li>
                    <li>Applicant position/role within the firm</li>
                    <li>IP address</li>
                </ul>
            </p>
            <h2 class="govuk-heading-m" id="purpose">Purpose</h2>
            <p class="govuk-body">
                The purpose(s) for which we are processing your personal data is: To manage your participation in the Help to Grow: Digital initiative, to assess your eligibility for the scheme, to process your application, to apply for and receive financial discounts and for monitoring and evaluation purposes. We are also processing your personal data to monitor web traffic via web analytics, including IP address and pages visited and interacted with.
            </p>
            <p class="govuk-body">
                Your data may also be used for statistical, research and where it is necessary for the purposes of the prevention, investigation, detection, or prosecution of criminal offences including fraud.
            </p>
            <h2 class="govuk-heading-m" id="legal-basis-of-processing">Legal basis of processing </h2>
            <p class="govuk-body">
                Save where consent is relied upon (as described in the following paragraph), the legal basis for processing your personal data is <strong>Public Task:</strong> Processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in BEIS.
            </p>
            <p class="govuk-body">
                For marketing and communications purposes, the legal basis for processing your personal data is <strong>Consent:</strong> You consent to us doing so.
            </p>
            <p class="govuk-body">
                The table below sets this out in further detail:
            </p>
            <table class="govuk-table govuk-!-margin-bottom-9">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Categories of Personal Data</th>
                        <th scope="col" class="govuk-table__header">Who do we collect this from?</th>
                        <th scope="col" class="govuk-table__header">Purpose of Processing</th>
                        <th scope="col" class="govuk-table__header">Lawful Basis for Processing</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet">
                                <li>First name</li>
                                <li>Surname</li>
                                <li>Email address</li>
                                <li>Applicant position/role within the firm</li>
                                <li>IP address</li>
                            </ul>
                        </td>
                        <td class="govuk-table__cell">Applicants</td>
                        <td class="govuk-table__cell">
                            <strong>Scheme Administration</strong>
                            <p class="govuk-body">
                                To administer the Scheme, including to assess your eligibility for participation in the Scheme / prevent fraud / to process your application / apply customer service improvements, manage complaints and/or Departmental and Ministerial correspondence received about the Scheme.
                            </p>
                        </td>
                        <td class="govuk-table__cell">Public Task</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet">
                                <li>First name</li>
                                <li>Surname</li>
                                <li>Email address</li>
                                <li>Applicant position/role within the firm</li>
                                <li>IP address</li>
                            </ul>
                        </td>
                        <td class="govuk-table__cell">Applicants</td>
                        <td class="govuk-table__cell">
                            <strong>Evaluation</strong>
                            <p class="govuk-body">
                                For an external research contractor to carry out an evaluation of the Scheme and apply learning in order to improve the Scheme.
                            </p>
                        </td>
                        <td class="govuk-table__cell">Public Task</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet">
                                <li>First name</li>
                                <li>Surname</li>
                                <li>Email address</li>
                                <li>Applicant position/role within the firm</li>
                                <li>IP address</li>
                            </ul>
                        </td>
                        <td class="govuk-table__cell">Applicants</td>
                        <td class="govuk-table__cell">
                            <strong>Marketing communications</strong>
                            <p class="govuk-body">
                                To contact applicants with further marketing information on the scheme.
                            </p>
                        </td>
                        <td class="govuk-table__cell">Consent</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet">
                                <li>IP address</li>
                            </ul>
                        </td>
                        <td class="govuk-table__cell">Applicants</td>
                        <td class="govuk-table__cell">
                            <strong>Technical data</strong>
                            <p class="govuk-body">
                                We may collect your cookie data to allow us to distinguish you from other users of our website, which helps us to provide you with a personalised experience when browsing our website and allows us to improve our site, as well as to analyse visitor information.
                            </p>
                        </td>
                        <td class="govuk-table__cell">Consent</td>
                    </tr>
                </tbody>
            </table>
            <h2 class="govuk-heading-m" id="how-we-protect-your-data-and-keep-it-secure">How we protect your data and keep it secure </h2>
            <p class="govuk-body">
                We are committed to doing all that we can to keep your data secure. We have set up systems and processes to prevent unauthorised access or disclosure of your data – for example, we protect your data using varying levels of encryption.
            </p>
            <p class="govuk-body">
                We also make sure that any third parties that we deal with keep all personal data they process on our behalf secure.
            </p>
            <h2 class="govuk-heading-m" id="recipients">Recipients</h2>
            <p class="govuk-body">
                Your personal data will be shared by us with:
                <ul class="govuk-list govuk-list--bullet">
                    <li>Any Government department involved in the Help to Grow: Digital initiative and their delivery partners</li>
                    <li>BEIS delivery partner, PricewaterhouseCoopers (PwC)</li>
                    <li>BEIS Monitoring and evaluation partners</li>
                    <li>Matt Hamnett & Associates (MH+A) Ltd for support purposes</li>
                    <li>BEIS marketing and communications delivery partners</li>
                </ul>
            </p>
            <p class="govuk-body">
                As your personal data will be stored on our IT infrastructure, it will also be shared with our data processors Microsoft and Amazon Web Services.
            </p>
            <h2 class="govuk-heading-m" id="retention">Retention</h2>
            <p class="govuk-body">
                Your personal data will be kept by BEIS for the duration of the Help to Grow: Digital initiative.
            </p>
            <p class="govuk-body">
                Our evaluation and monitoring partners will delete your personal data after expiry of the evaluation contract.
            </p>
            <h2 class="govuk-heading-m" id="your-rights">Your Rights</h2>
            <p class="govuk-body">
                You have the right to request information about how your personal data are processed, and to request a copy of that personal data.
            </p>
            <p class="govuk-body">
                You have the right to request that any inaccuracies in your personal data are rectified without delay.
            </p>
            <p class="govuk-body">
                You have the right to request that any incomplete personal data are completed, including by means of a supplementary statement.
            </p>
            <p class="govuk-body">
                You have the right to request that your personal data are erased if there is no longer a justification for them to be processed.
            </p>
            <p class="govuk-body">
                You have the right in certain circumstances (for example, where accuracy is contested) to request that the processing of your personal data is restricted.
            </p>
            <p class="govuk-body">
                You have the right to object to the processing of your personal data where it is processed for direct marketing purposes.
            </p>
            <p class="govuk-body">
                You have the right to withdraw consent to the processing of your personal data at any time. If you wish to withdraw your consent, please contact: <a href="mailto:SME.helptogrow@beis.gov.uk">SME.helptogrow@beis.gov.uk</a>.
            </p>
            <p class="govuk-body">
                You have the right to object to the processing of your personal data.
            </p>
            <h2 class="govuk-heading-m" id="where-do-we-process-your-personal-data">Where do we process your personal data? </h2>
            <p class="govuk-body">
                PwC and supporting service providers will process your Personal Data to the extent possible in the United Kingdom or the European Economic Area (EEA). Your Personal Data will be retained on servers located in the United Kingdom.
            </p>
            <p class="govuk-body">
                We will take all steps necessary to ensure that your data is processed and stored in a secure environment, in accordance with our legal obligations. The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area (‘<strong>EEA</strong>'). All suppliers and contractors we use to process data are bound by contract to keep it secure in accordance with UK GDPR.
            </p>
            <p class="govuk-body">
                As your personal data is stored on the BEIS IT infrastructure and shared with our data processors Microsoft and Amazon Web Services, it may be transferred and stored securely in the UK and EEA. Where your personal data is stored outside the UK and EEA it will be subject to equivalent legal protection through the use of Model Contract Clauses.
            </p>
            <h2 class="govuk-heading-m" id="complaints">Complaints</h2>
            <p class="govuk-body">
                If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is an independent regulator. The Information Commissioner can be contacted at:
            </p>
            <p class="govuk-body">
                Information Commissioner's Office
                <br />Wycliffe House
                <br />Water Lane
                <br />Wilmslow
                <br />Cheshire
                <br />SK9 5AF
                <br />Telephone: 0303 123 1113
                <br />Email: <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a>
            </p>
            <p class="govuk-body">
                Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.
            </p>
            <h2 class="govuk-heading-m" id="contact-details">Contact Details</h2>
            <p class="govuk-body">
                The data controller for your personal data is the Department for Business, Energy & Industrial Strategy (BEIS). You can contact the BEIS Data Protection Officer at:
            </p>
            <p class="govuk-body">
                BEIS Data Protection Officer
                <br />Department for Business, Energy and Industrial Strategy
                <br />1 Victoria Street
                <br />London
                <br />SW1H 0ET
                <br />Email: <a href="mailto:dataprotection@beis.gov.uk">dataprotection@beis.gov.uk</a>
            </p>
            <p class="govuk-body">
                <strong>Note:</strong> There may be changes to this privacy notice over the lifetime of the Help to Grow: Digital scheme. Any future change to our privacy policy will only affect how we use any information collected after the date of the change. If you provided information before the change, you will have done so in light of the previous policy statement. We will honour the assurances we gave at the time.
            </p>
            <h2 class="govuk-heading-m" id="other-data-processing">Other data processing</h2>
            <p class="govuk-body">
                Data about your business, excluding any personal data listed above, will be shared with HMRC in connection with the promotion of the Help to Grow: Digital initiative. This will enable HMRC to measure the impact of the promotional campaign it intends to run in partnership with the Department for Business, Energy & Industrial Strategy.
            </p>
            <p class="govuk-body">
                Data shared with HMRC may include Companies House reference number, VAT number, PAYE number or unique tax reference as well as details of the financial discount you have applied for and received. No personal data will be shared.
            </p>

    <!-- <p class="govuk-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper in nisi sed viverra. Proin et neque imperdiet, ultricies nunc ac, molestie libero.
    </p>
    <p class="govuk-body">
      Aliquam auctor nulla libero, ac aliquam eros ultricies ac. Curabitur consectetur diam leo, eget consequat lectus eleifend vitae. Pellentesque leo nunc, vestibulum a tortor et, lacinia lobortis felis. Vestibulum sed purus pharetra, auctor sapien vel, finibus velit. Mauris sed laoreet quam. Maecenas tortor ipsum, varius sed elementum ut, luctus et augue.
    </p> -->

  </div>
  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Useful links
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="terms-and-conditions-detail" class="govuk-link">
              Terms and conditions
            </a>
          </li>

          <li>
            <a href="http://htg-uat-webapp-app.htg-uat-webapp-env.p.azurewebsites.net/" class="govuk-link">
              Help to Grow: Digital website
            </a>
          </li>
          <li>
            <a href="start-page" class="govuk-link">
              Apply for a discount on business software
            </a>
          </li>
          <li>
            <a href="general-guidance" class="govuk-link">
              General guidance
            </a>
          </li>
          <li>
            <a href="how-to-get-in-touch" class="govuk-link">
              How to get in touch
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
