{% extends "layout_sme.html" %}

{% block pageTitle %}
Start page
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Apply for your Help to Grow: Digital discount on approved software</h1>
        <h2 class="govuk-heading-m">Discount available</h2>
        <p class="govuk-body">Eligible businesses will receive one financial discount towards the purchase of <strong>one</strong> approved software product up to a maximum of £5,000 (not including VAT).</p>
        <p class="govuk-body">The financial discount covers 12 months’ worth of approved software product core costs, exclusive of VAT.</p>

        <h2 class="govuk-heading-m">Eligibility</h2>
        <p class="govuk-body">This financial discount is available to UK businesses that meet <strong>all four</strong> eligibility criteria below:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Your business must have a registered office in the UK and be registered at the relevant Companies House or be a registered society listed on the Financial Conduct Authority’s Mutuals Register.</li>
            <li>Your business must have been actively trading forover 12 months prior to the date of application and have an incorporation date of, at minimum, 365 days prior to the date of application.</li>
            <li>Your business must have a total of between 5 and 249 employees.</li>
            <li>Your business must be purchasing the approved software for the first time.</li>
        </ul>

        <p class="govuk-body">The person applying for the discount <strong>must</strong> be:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>aged 18 or over.</li>
            <li>an employee of the business.</li>
            <li>authorised to agree to the terms and conditions on behalf of the business.</li>
            <li>able to confirm receipt of the financial discount will not cause the business to exceed the total threshold for Small Amounts of Financial Assistance or De Minimis aid that they are entitled to receive over a 3 year period. For full subsidy control details please visit: <a href="subsidy-control" class="govuk-link">subsidy control</a>.</li>
        </ul>

        <div class="govuk-inset-text">
            <p class="govuk-body">The financial discount is only for the use of the business applying and cannot be transferred.</p>
        </div>
        <p class="govuk-body">For full information on eligibility criteria and how to apply please visit: <a href="general-guidance" class="govuk-link">general guidance</a>. For full terms and conditions please visit: <a href="terms-and-conditions-detail" class="govuk-link">terms and conditions</a>.</p>

        <h2 class="govuk-heading-m">What you'll need to tell us</h2>
        <p class="govuk-body">The application will take you through four sections: </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>about your chosen software</li>
            <li>about your business</li>
            <li>about the applicant</li>
            <li>email verification</li>
        </ul>

        <h2 class="govuk-heading-m">We will ask for:</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>the Companies House or FCA Mutuals Public Register number</li>
            <li>your name, position in the company and work email address</li>
            <li>your number of employees</li>
        </ul>

        <p class="govuk-body">We will carry out fraud and verification checks to determine if you are eligible to receive a financial discount. These checks will not affect your business’ credit score. </p>

        <h2 class="govuk-heading-m">Purchasing your software</h2>
        <p class="govuk-body">Once you have successfully completed the online application and passed all eligibility and fraud checks, you will receive a unique link with your discount. This will direct you off the GOV.UK website to your chosen software suppliers’ purchasing webpage, where you can complete your product purchase with the discount applied.</p>
        <p class="govuk-body">You will also be emailed this unique link should you wish to return later to complete your purchase. The financial discount will expire after 30 days and your unique link will become invalid.</p>
        <p class="govuk-body">Your chosen technology supplier will provide a final breakdown of costs beforeyour purchase. The financial discount can not be used towards VAT. VAT will be added to the total cost of the software before the voucher discount and the VAT will be due at point of purchase.</p>

        <div class="govuk-inset-text">
            <p class="govuk-body">Before you apply, you'll need to know the software product you want to buy. You can <a href="https://www.figma.com/proto/h2T83B0oOAcriqYc9PBwka/LP-Prototype-(Copy)?node-id=2213%3A43165&starting-point-node-id=2213%3A47804" class="govuk-link">compare and choose approved business software on the Help to Grow: Digital website</a>.</p>
        </div>

        <form class="form" action="" method="">
            <a href="software/select-software-category" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg></a>
        </form>


    </div>


    <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Useful links
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a href="terms-and-conditions-detail" class="govuk-link">
                            Terms and conditions
                        </a>
                    </li>
                    <li>
                        <a href="privacy-policy" class="govuk-link">
                            Privacy policy
                        </a>
                    </li>
                    <li>
                        <a href="http://htg-uat-webapp-app.htg-uat-webapp-env.p.azurewebsites.net/" class="govuk-link">
                            Help to Grow: Digital website
                        </a>
                    </li>
                    <li>
                        <a href="general-guidance" class="govuk-link">
                            General guidance
                        </a>
                    </li>
                    <li>
                        <a href="how-to-get-in-touch" class="govuk-link">
                            How to get in touch
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
{% endblock %}
