{% extends "layout_sme.html" %}

{% block pageTitle %}
Terms and conditions
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">

<p><a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="javascript:history.back()">Back</a></p>
{% endblock %}

{% block content %}
<!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Terms and conditions</h1>

    <!-- <ol class="govuk-list govuk-list--number">
      <li>The Help to Grow: Digital Scheme is a grant token scheme which supports the purchase and adoption for eligible SMEs in the UK of certain Eligible Software Products.</li>
      <li>These Terms and Conditions must be accepted by SME’s wishing to participate in the Scheme by taking Grant Tokens towards the purchase of Eligible Software Products.</li>
      <li>Grant Tokens under the Scheme will be offered to SMEs who meet certain eligibility requirements and have accepted these Terms and Conditions.</li>
    </ol> -->
    <h2 class="govuk-heading-m">1. Introduction</h2>
    <p>1.1 The Help to Grow: Digital Scheme is a grant token scheme which supports the purchase and adoption for eligible SMEs in the UK of certain Eligible Software Products.</p>
    <p>1.2 These Terms and Conditions must be accepted by SMEs wishing to participate in the Scheme by taking Grant Tokens towards the purchase of Eligible Software Products.</p>
    <p>1.3 Grant Tokens under the Scheme will be offered to SMEs who meet certain eligibility requirements and have accepted these Terms and Conditions.</p>
    <p>1.4 Once accepted by the SMEs, these Terms and Conditions shall form a legally binding contract with the Department for Business, Energy and Industrial Strategy (BEIS) to the exclusion of any other terms that the SMEs may seek to impose or incorporate, or which are implied by law, trade custom, practice or course of dealing.</p>
    <p>1.5 BEIS will administer the Scheme initially and will then appoint a Scheme Administrator who will support BEIS in the administration of the Scheme on behalf of BEIS, which may include applying eligibility criteria and issuing Grant Tokens, provided that the applicable terms and conditions are complied with.</p>
    <p>1.6 The Scheme is funded by BEIS and any payments of grant funding under the Scheme may be processed and administered by the Scheme Administrator on behalf of BEIS.</p>

    <h2 class="govuk-heading-m">2. Definitions and Interpretation</h2>
<!--  <ul class="govuk-list govuk-list--bullet">-->
      <p>2.1 Capitalised words and expressions used in these Terms and Conditions shall have the meanings given to them in Annex A - Defined terms to these Terms and Conditions.</p>
      <p>2.2 A person includes a natural person, corporate or unincorporated body (whether or not having separate legal personality).</p>
      <p>2.3 A reference to a party includes its successors and permitted assigns.</p>
      <p>2.4 A reference to legislation or a legislative provision is a reference to it as amended or re-enacted. A reference to legislation or a legislative provision includes all subordinate legislation made under that legislation or legislative provision.</p>
      <p>2.5 Any words following the terms including, include, in particular, for example or any similar expression shall be construed as illustrative and shall not limit the sense of the words, description, definition, phrase or term preceding those terms.</p>
      <p>2.6 A reference to writing or written includes emails.</p>
<!--  </ul>-->

    <h2 class="govuk-heading-m">3. SME Eligibility and Registration</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>3.1 SMEs meeting the SME Eligibility Criteria who wish to apply for a Grant Token shall apply to BEIS by following the registration procedure (as updated from time to time and available at [TBC]).</p>
      <p>3.2 In applying for a Grant Token, the SME confirms and warrants and undertakes that:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>3.2.1 it meets the SME Eligibility Criteria;</p>
        <p>3.2.2 it accepts these Terms and Conditions;</p>
        <p>3.2.3 any information provided in support of its application is complete, true and accurate;</p>
        <p>3.2.4 it will declare the value of the Grant Token in any future application for Small Amounts of Financial Assistance under Article 364.4 of the Trade and Cooperation Agreement (or application for De Minimis aid if the Northern Ireland Protocol applies); and </p>
        <p>3.2.5 the individual who is making the application to BEIS on behalf of the SME is both an employee of the SME and at least eighteen (18) years old.</p>
<!--      </ul>-->
      <p>3.3 The SME shall provide all reasonable information and assistance to BEIS (and/or the Scheme Administrator at BEIS’ direction) in determining the SME’s eligibility to receive a Grant Token.</p>
      <p>3.4 Following receipt of the SME’s application information, BEIS (and/or the Scheme Administrator at BEIS’ direction) may carry out any checks and investigations it deems reasonably necessary and shall determine at its discretion if the SME is eligible to receive a Grant Token. For the avoidance of doubt, BEIS may determine at any stage following the receipt of the SME’s application and for any reason to decline to issue the Grant Token to the SME.</p>
      <p>3.5 The SME agrees and acknowledges that BEIS may choose not to enter into SME Terms and Conditions with any SME or (in accordance with Clause 5.3) may choose to withdraw the Scheme (in whole or in part) at any time. Neither BEIS, nor any Scheme Administrator shall (save to the extent expressly provided in these SME Terms and Conditions) be liable for any costs incurred by the SME through the application process or in connection with the Scheme. Neither BEIS nor the Scheme Administrator give any representation or warranty that any application will be accepted, or that any application will be responded to within any particular timescale.</p>
      <p>3.6 The SME agrees and acknowledges that:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>3.6.1 the SME Eligibility Criteria may be updated from time to time and the SME shall submit any additional information, in whatever form as reasonably requested by BEIS (and/or the Scheme Administrator), to demonstrate its continued eligibility;</p>
        <p>3.6.2 BEIS (and/or the Scheme Administrator at BEIS’ direction) may undertake such checks as reasonably required to confirm ongoing eligibility of the SME;</p>
        <p>3.6.3 the SME shall notify BEIS (and/or the Scheme Administrator at BEIS’ direction) as soon as reasonably practicable and in any event within seven (7) calendar days of any change in any information previously provided to BEIS (and/or the Scheme Administrator) to demonstrate its eligibility;</p>
        <p>3.6.4 any provision of false information by the SME in connection with the Scheme may be fraud, which could lead to their Grant Token being rescinded and further action being taken against it, including, without limitation, any action to recover a sum equivalent to the value of any Grant Token issued to the SME; and</p>
        <p>3.6.5 the Registered Vendor shall be permitted to share with BIES (and/or the Scheme Administrator) any SME information reasonably requested by BIES (and/or the Scheme Administrator) in connection with the identification and prevention of any fraudulent practices arising in connection with the Scheme.</p>
<!--      </ul>-->
      <p>3.7 In the event that the SME disputes any decision taken by BEIS (and/or the Scheme Administrator at BEIS’ direction) in relation to its application, it may follow the Appeals Process.</p>
<!--    </ul>-->

    <h2 class="govuk-heading-m">4. Grant Token Rescission</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>4.1 BIES may immediately rescind the Grant Token (and/or may seek to recover the value of the Grant Token) in any of the following events:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>4.1.1 where the Eligible Software Product is resold by the SME in breach of these Terms and Conditions, or if a Grant Token is used in breach of any Grant Token restrictions;</p>
        <p>4.1.2 where there is any change in the SME’s eligibility status;</p>
        <p>4.1.3 where there is any breach of any kind of these Terms and Conditions;</p>
        <p>4.1.4 where there is any actual or suspected fraud or misrepresentation on the part of the SME;</p>
        <p>4.1.5 where a Grant Token is issued in error; and</p>
        <p>4.1.6 where any self certification provided in relation to the Eligibility Criteria is subsequently found to be incorrect, inaccurate or untrue.</p>
<!--      </ul>-->
      <p>4.2 Where a Grant Token is rescinded, the SME may appeal the decision to rescind, subject to and in accordance with the Appeals Process. </p>
      <p>4.3 Where a Grant Token is rescinded, the SME shall be responsible for all Software Licence Fees in respect of any Eligible Software Product from the date of the rescission of the Grant Token.</p>
<!--    </ul>-->

    <h2 class="govuk-heading-m">5. Closure/Suspension and changes to the Scheme</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>5.1 Neither BEIS nor the Scheme Administrator give any representation or warranty as to the amounts of grant available to SMEs.</p>
      <p>5.2 BEIS may update and amend these Terms and Conditions, and any other procedure, policy or criteria referred to herein by providing not less than fourteen (14) days prior notice via the Help to Grow Platform or otherwise in writing.</p>
      <p>5.3 BEIS may amend or close the Scheme at any time (in whole or in respect of any SMEs) by providing not less than thirty (30) days’ notification to the affected SMEs via the Help to Grow Platform or otherwise in writing.</p>
      <p>5.4 BEIS may suspend the Scheme (in whole or in respect of any SMEs) for any reason, at any time, without prior notice.</p>
      <p>5.5 Registered Vendors may amend the product information and/or pricing of an Eligible Software Product from time to time with agreement from BEIS (and/or the Scheme Administrator). Any such updated information on Eligible Software Products shall be available on the Help to Grow Platform.</p>
      <p>5.6 In the event of any change to or closure or suspension of the Scheme, any Grant Token which has been issued under it prior to such change, closure or suspension may be redeemed by the SME prior to the Grant Token Expiry Date in accordance with these Terms and Conditions.</p>
<!--  </ul>-->

    <h2 class="govuk-heading-m">6. General SME Obligations</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>6.1 The SME shall provide any information, assistance or responses reasonably requested in connection with the Scheme by BEIS (and/or the Scheme Administrator) promptly and in any event within three (3) Working Days.</p>
      <p>6.2 The SME warrants that:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>6.2.1 it is duly authorised to enter into these Terms and Conditions and an authorised signatory has either signed or indicated acceptance of these Terms and Conditions electronically; and</p>
        <p>6.2.2 it has all necessary certifications, consents and authorisations to take part in the Scheme and to purchase the Eligible Software Products and shall immediately notify BEIS (and/or the Scheme Administrator at BEIS’ direction) if it ceases to hold any of the same.</p>
<!--      </ul>-->
      <p>6.3 The SME agrees and acknowledges that BEIS (and/or the Scheme Administrator) may conduct spot checks at any time during the SME’s use of the Scheme and/or any Grant Token to investigate:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>6.3.1 any suspicion of fraudulent activity;</p>
        <p>6.3.2 any suspicion of false representation; and/or</p>
        <p>6.3.3 any suspicion of changes to the SME that would be inconsistent with the SME Eligibility Criteria.</p>
<!--      </ul>-->
<!--    </ul>-->

    <h2 class="govuk-heading-m">7. Grant Token Application and Redemption</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>7.1 Following receipt of the application by the SME described at clause 3 above, if BEIS determine that the SME is eligible to receive a Grant Token, it shall issue the Grant Token to the SME via the Help to Grow Platform or otherwise in writing or by email.</p>
      <p>7.2 The SME may redeem the Grant Token by accessing the website of a Registered Vendor via the Help to Grow Platform and following the instructions contained therein or otherwise provided in writing or by email.</p>
      <p>7.3 The Grant Token is only permitted to be used within the Grant Token restrictions described at clause 8 below and otherwise notified to the SME via the Help to Grow Platform or in writing or by email.</p>
<!--    </ul>-->

    <h2 class="govuk-heading-m">8. Grant Token Restrictions</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>8.1 BEIS shall determine the value of the Grant Token in its reasonable discretion and based on the Software Licence Fees published (together with any discounts or offers authorised by BEIS) by a Registered Vendor at or around the time that the Grant Token is issued.</p>
      <p>8.2 Grant Tokens for an Eligible Software Product shall not be issued for sums in excess of:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>8.2.1 £5,000; or</p>
        <p>8.2.2 50% of the Software Licence Fees; or</p>
        <p>8.2.3 for a period exceeding 12 months.</p>
<!--      </ul>-->
      <p>8.3 A Grant Token is not transferrable and may only be used once. A Grant Token shall only be valid for:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>8.3.1 the validity period described in the Grant Token;</p>
        <p>8.3.2 the Eligible Software Product and Registered Vendor described in the Grant Token;</p>
        <p>8.3.3 the SME’s own business use; and</p>
        <p>8.3.4 the Initial Period for any Eligible Software Product term only.</p>
<!--      </ul>-->
      <p>8.4 Where a Grant Token is issued for a subscription Software Licence Fee, it may be redeemed pro-rata across the Initial Period for which the Grant Token is issued.</p>
<!--    </ul>-->

    <h2 class="govuk-heading-m">9. Purchasing Eligible Software Products</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>9.1 The SME may use the Help to Grow Platform to view a list of Eligible Software Products, descriptions and capability frameworks relating to the Eligible Software Products.</p>
      <p>9.2 The SME agrees and acknowledges that it is for them to research the Eligible Software Products available through the Scheme and assess their fitness for purpose within the SME.</p>
      <p>9.3 Neither BEIS nor the Scheme Administrator provide any advice, warranty or other assurance as to the information provided on the Help to Grow Platform about the Eligible Software Products or the potential efficiencies, savings available through use of any Eligible Software Product or the quality, fitness for purpose or otherwise of any Eligible Software Product or the Software Terms and Conditions.</p>
      <p>9.4 All sales for the purchase of Eligible Software Products will be concluded by the SME directly with the Registered Vendor through the Registered Vendor website or via any other method specified directly with the Registered Vendor.</p>
      <p>9.5 The SME agrees and acknowledges that it will need to enter into separate Software Terms and Conditions on purchasing the Eligible Software Product, which will be between the SME and Registered Vendor. The Software Terms and Conditions may include a right for the Registered Vendor to terminate a licence or take other action where a Grant Token is used by the SME fraudulently or otherwise in breach of these Terms and Conditions or the Software Terms and Conditions.</p>
      <p>9.6 The SME agrees and acknowledges that any hardware purchases, or additional software or services (such as consultancy or maintenance services) are out of scope of the Scheme and any Grant Token may not be used for the purchase of any such additional hardware or services.</p>
      <p>9.7 Neither BEIS nor the Scheme Administrator have any liability whatsoever for any losses or damages arising out of or in connection with:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>9.7.1 the receipt or use of the Eligible Software Products;</p>
        <p>9.7.2 the performance or otherwise of the Software Terms and Conditions; or</p>
        <p>9.7.3 any other hardware, software or services purchased by the SME from a Registered Vendor.</p>
<!--      </ul>-->
      <p>9.8 The SME agrees and acknowledges that the Eligible Software Product is purchased for its own business uses only and it shall not resell or sub-licence any Software purchased used with Grant Token.</p>
      <p>9.9 The SME shall promptly notify BEIS (and/or the Scheme Administrator) in the event that its licence for the Eligible Software Product is cancelled or terminated (for any reason) within the Initial Period.</p>
<!--    </ul>-->

    <h2 class="govuk-heading-m">10. Software Licence Fees</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>10.1 The SME may be able to view pricing information for each Eligible Software Product on the Help to Grow Platform.</p>
      <p>10.2 The SME agrees and acknowledges that is responsible for the remaining Software Licence Fees (beyond the value of the Grant Token) and is responsible for any ongoing liability to pay Software Licence Fees for subscriptions beyond the Initial Period. Neither BEIS nor the Scheme Administrator have any liability whatsoever in respect of any such ongoing commitments.</p>
      <p>10.3 The SME agrees and acknowledges that the value of the Grant Token is calculated based on the Software Licence Fees for the SME requirement published at the time the Grant Token is issued. The SME will be responsible for any additional Software Licence Fees in the event that they request additional users from the Registered Vendor.</p>
      <p>10.4 The SME agrees and acknowledges that the value of the Grant Token shall be calculated on the licence fees for Eligible Software Products before the application of VAT. The SME shall be responsible for the payment of any VAT properly due and payable in respect of any purchase of Eligible Software Products.</p>
<!--    </ul>-->

    <h2 class="govuk-heading-m">11. Complaints Procedure</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>11.1 The SME shall comply with the Complaints Procedure.</p>
      <p>11.2 The SME should raise any complaints in connection with the Eligible Software Product or the Registered Vendor directly with the Registered Vendor.</p>
<!--    </ul>-->

    <h2 class="govuk-heading-m">12. Records and Audit</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>12.1 The SME shall keep Relevant Records for at least six (6) years following the purchase of any Eligible Software Product.</p>
      <p>12.2 The SME will allow authorised representatives of BEIS and/or the Scheme Administrator at BEIS’ direction to take copies and audit the Relevant Records.</p>
<!--    </ul>-->

    <h2 class="govuk-heading-m">13. Limitation of Liability</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>13.1 Neither BEIS nor the Scheme Administrator shall have any liability whatsoever for any indirect or consequential loss or damage incurred in connection with:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>13.1.1 any delay or decision not to issue a Grant Token;</p>
        <p>13.1.2 the SMEs use of the Eligible Software Product and/or the Software Terms and Conditions; or</p>
        <p>13.1.3 any negligence or breach of the Software Terms and Conditions by the Registered Vendor.</p>
<!--      </ul>-->
      <p>13.2 It is the responsibility of the SME to:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>13.2.1 determine if the Eligible Software Product is fit for the purpose for which the SME wishes to use it for;</p>
        <p>13.2.2 review the Software Terms and Conditions; and</p>
        <p>13.2.3 pay for any Software Licence Fees or other charges in excess of the value of the Grant Token, and if the SME fails to do so, neither BEIS nor the Scheme Administrator will be liable to the SME for any costs or losses incurred as a result.</p>
<!--      </ul>-->
      <p>13.3 Neither BEIS nor the Scheme Administrator shall be liable to the SME for any business losses or loss of rent howsoever caused.</p>
      <p>13.4 Neither BEIS nor the Scheme Administrator shall be in breach of these Terms and Conditions nor liable for any delay in performing, or failure to perform, any of its obligations under them if such delay or failure results from events, circumstances or causes beyond its reasonable control.</p>
      <p>13.5 Nothing in these Terms and Conditions will have the effect of excluding or limiting the liability of BEIS or the Scheme Administrator for death or personal injury caused by (respectively) the negligence of BEIS or the Scheme Administrator nor (respectively) any fraud or fraudulent misrepresentation by BEIS or the Scheme Administrator, or any other matter which, by law, may not be excluded or limited.</p>
<!--    </ul>-->

    <h2 class="govuk-heading-m">14. Data Protection</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>14.1 BEIS and the SMEs will comply at all times with their respective obligations as data Controllers under the Data Protection Legislation.</p>
      <p>14.2 When the Scheme Administrator is appointed by BEIS to administer the Scheme, the Scheme Administrator is expected to be a Processor and will comply with all relevant data processing requirements under the Data Protection Legislation.</p>
      <p>14.3 The SMEs will be provided with a privacy notice prior to, or at the point that Personal Data is collected by BEIS or the Scheme Administrator, which will detail how and why Personal Data is being processing under the Scheme by BEIS or the Scheme Administrator and confirm other information required under relevant Data Protection Legislation.</p>
<!--    </ul>-->

    <h2 class="govuk-heading-m">15. Confidentiality</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>15.1 For the purposes of this clause 15, the term “Disclosing Party” shall mean a party which discloses or makes available directly or indirectly its Confidential Information and “Recipient” shall mean the party which receives or obtains directly or indirectly Confidential Information.</p>
      <p>15.2 The Recipient shall:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>15.2.1 treat the Disclosing Party’s Confidential Information as confidential and keep it in secure custody (which is appropriate depending upon the form in which such materials are stored and the nature of the Confidential Information contained in those materials);</p>
        <p>15.2.2 not disclose the Disclosing Party’s Confidential Information to any other person except as expressly set out in these Terms and Conditions or without obtaining the owner's prior written consent;</p>
        <p>15.2.3 not use or exploit the Disclosing Party’s Confidential Information in any way except for the purposes anticipated under these Terms and Conditions; and</p>
        <p>15.2.4 immediately notify the Disclosing Party if it suspects or becomes aware of any unauthorised access, copying, use or disclosure in any form of any of the Disclosing Party’s Confidential Information.</p>
<!--      </ul>-->
      <p>15.3 The Recipient shall be entitled to disclose the Confidential Information of the Disclosing Party:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>15.3.1 where the Recipient is required to disclose the Confidential Information by Law, provided that clause 16 (FOIA and EIRs) shall apply to disclosures required under the FOIA or the EIRs;</p>
        <p>15.3.2 to staff who are directly involved in the provision of the Scheme and need to know the Confidential Information to enable performance of the Scheme;</p>
        <p>15.3.3 to its auditors;</p>
        <p>15.3.4 to its professional advisers for the purposes of obtaining advice in relation to the Scheme; and</p>
        <p>15.3.5 where the need for such disclosure arises out of or in connection with:</p>
<!--        <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
          <p>(i) any legal challenge or potential legal challenge against BEIS arising out of or in connection with the Scheme;</p>
          <p>(ii) the examination and certification of BEIS’ accounts (provided that the disclosure is made on a confidential basis) or for any examination pursuant to section 6(1) of the National Audit Act 1983 of the economy, efficiency and effectiveness with which SMEs are making use of any Eligible Software Product provided under the Scheme;</p>
          <p>(iii) the conduct of a central government body review in respect of the Scheme; or</p>
          <p>(iv) the Recipient has reasonable grounds to believe that the Disclosing Party is involved in activity that may constitute a criminal offence under the Bribery Act 2010 and the disclosure is being made to the Serious Fraud Office.</p>
<!--        </ul>-->
<!--      </ul>-->
      <p>15.4 The SME acknowledges that, to the extent permitted under the Software Terms and Conditions, the Registered Vendor may share all information that it has obtained from the SME with BIES (and/or the Scheme Administrator) where necessary for the purposes of administering the Scheme and/or to report on any fraudulent activity. For the avoidance of doubt, BEIS and the Scheme Administrator undertake to use and process SME information provided by the Vendor in accordance with its obligations under clauses 15 and 16 of these Terms and Conditions and Data Protection Legislation.</p>

<!--    </ul>-->


    <h2 class="govuk-heading-m">16. FOIA and EIRs</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>16.1 The SME acknowledges that BEIS is subject to the requirements of the FOIA and the EIRs. The SME shall:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>16.1.1 provide all necessary assistance and cooperation as reasonably requested by BEIS to enable the BEIS to comply with its obligations under the FOIA and EIRs;</p>
        <p>16.1.2 transfer to BEIS all requests for information relating to the FOIA or EIRs with respect to the Scheme that it receives as soon as practicable and in any event within five (5) days of receipt (or such other period as BEIS may reasonably specify);</p>
        <p>16.1.3 provide BEIS with a copy of all information belonging to BEIS requested in the request for information relating to the FOIA or EIRs, which is in its possession or control, in the form that BEIS requires within ten (10) days (or such other period as BEIS may reasonably specify) of BEIS’ request for such Information; and</p>
        <p>16.1.4 not respond directly to a request for information relating to the FOIA or EIRs, unless authorised in writing to do so by BEIS.</p>
<!--      </ul>-->
      <p>16.2 The SME acknowledges that BEIS may be required under the FOIA and EIRs to disclose information (including Confidential Information) without consulting or obtaining consent from the SME.</p>
      <p>16.3 BEIS shall take reasonable steps to notify the SME of a request for information (in accordance with the Cabinet Office's Freedom of Information Code of Practice issued under section 45 of the FOIA) to the extent that it is permissible and reasonably practical for it to do so but (notwithstanding any other provision in these Terms and Conditions) BEIS shall be responsible for determining in its absolute discretion whether any Confidential Information and/or any other information is exempt from disclosure in accordance with the FOIA and/or the EIRs.</p>
<!--    </ul>-->

    <h2 class="govuk-heading-m">17. Subsidy Control</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>17.1 The Grant Token is provided as Small Amounts of Financial Assistance (or De Minimis aid for SMEs in scope of the Northern Ireland Protocol) to SMEs and the value of the Grant Token should be declared as such in any future application by the SME for state aid/subsidy.</p>
      <p>17.2 After enactment of the Subsidy Control Bill 2021, these Terms and Conditions may be amended to reflect any new legal requirements for subsidies.</p>
      <p>17.3 SMEs will be required to self-certify that they are eligible for Grant Tokens and that the receipt of a Grant Token will not put them in breach of this Small Amounts of Financial Assistance (or De Minimis aid for SMEs in scope of the Northern Ireland Protocol) subsidy.</p>
      <p>17.4 Participation in the Scheme is made available in accordance with article 364.4 of the Trade and Cooperation Agreement, which enables the SME to receive up to a maximum level of subsidy (a “Small Amount of Financial Assistance”). The threshold is 325,000 Special Drawing Rights (approximately £330,000.00 at the time of drafting) over a period of three financial years. The SME warrants that it either:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>17.4.1 has not received any Small Amount of Financial Assistance subsidy or De Minimis aid (whether from or attributable to BEIS or any other public authority) during the current and two previous fiscal years; or</p>
        <p>17.4.2 has received one or more grants of De Minimis aid or Small Amounts of Financial Assistance subsidy during the current and two previous fiscal years, and that receipt of this Grant Token will not cause them to exceed the limit of 325,000 Special Drawing Rights over a period of three financial years.</p>
<!--      </ul>-->
      <p>17.5 Where the SME has operations based in Northern Ireland in goods or wholesale electricity, or is otherwise deemed to be in scope of Article 10 of the Northern Ireland Protocol, participation in the Scheme is made available in accordance with De Minimis aid which enables the SME to receive up to 200,000.00 euros over a period of three financial years. Where the Northern Ireland Protocol applies, the SME warrants that it has not exceeded this threshold.</p>
<!--    </ul>-->

    <h2 class="govuk-heading-m">18. General</h2>
<!--    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
      <p>18.1 <strong>Force Majeure.</strong> Neither party shall be in breach of these Terms and Conditions nor liable for delay in performing, or failure to perform, any of its obligations under these Terms and Conditions if such delay or failure result from events, circumstances or causes beyond its reasonable control. In such circumstances the time for performance shall be extended by a period equivalent to the period during which performance of the obligation has been delayed or failed to be performed. If the period of delay or non-performance continues for one (1) month, the party not affected may withdraw from the Scheme by giving one (1) month’s written notice to the affected party.</p>
      <p>18.2 <strong>Transfer:</strong></p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>18.2.1 BEIS may at any time assign, transfer, mortgage, charge, subcontract, delegate, declare a trust over or deal in any other manner with any or all of its rights or obligations under these Terms and Conditions.</p>
        <p>18.2.2 The SME may not assign, transfer, mortgage, charge, delegate, declare a trust over or deal in any other manner with any or all of its rights or obligations under these Terms and Conditions without the prior written consent of BEIS.</p>
<!--      </ul>-->
      <p>18.3 <strong>Entire agreement.</strong> These Terms and Conditions constitutes the entire agreement between the parties and supersedes and extinguishes all previous agreements, promises, assurances, warranties, representations and understandings between them, whether written or oral, relating to its subject matter.</p>
      <p>18.4 <strong>Waiver.</strong> No failure or delay by a party to exercise any right or remedy provided under these Terms and Conditions or by Law shall constitute a waiver of that or any other right or remedy, nor shall it prevent or restrict the further exercise of that or any other right or remedy. No single or partial exercise of such right or remedy shall prevent or restrict the further exercise of that or any other right or remedy.</p>
      <p>18.5 <strong>Severance.</strong> If any provision or part-provision of these Terms and Conditions is or becomes invalid, illegal or unenforceable, it shall be deemed deleted, but that shall not affect the validity and enforceability of the rest of these Terms and Conditions. If any provision of these Terms and Conditions is deemed deleted under this clause 18.5 the Scheme Administrator or BEIS shall provide replacement provision that, to the greatest extent possible, achieves the intended commercial result of the original provision.</p>
      <p>18.6 <strong>Notices.</strong> Any notice given to a party under or in connection with these Terms and Conditions shall be in writing and shall be delivered by the contact name and contact address for the parties set out in the registration application for the Scheme.</p>
      <p>18.7 <strong>Third party rights.</strong> Unless it expressly states otherwise, these Terms and Conditions do not give rise to any rights under the Contracts (Rights of Third Parties) Act 1999 to enforce any of its terms.</p>
      <p>18.8 <strong>Jurisdiction.</strong> The parties irrevocably agree that the courts of England and Wales shall have exclusive jurisdiction to settle any dispute or claim (including non-contractual disputes or claims) arising out of or in connection with these Terms and Conditions or its subject matter or formation of a contract.</p>
      <p>18.9 <strong>Governing law.</strong> These Terms and Conditions, and any dispute or claim (including non-contractual disputes or claims) arising out of or in connection with it or its subject matter or formation, shall be governed by and construed in accordance with the Law of England and Wales.</p>
<!--    </ul>-->

    <h2 class="govuk-heading-m">Defined Terms</h2>

      <p><strong>"Appeals Process"</strong> means the appeals process set out from time to time at [TBC];</p>
      <p><strong>“BEIS”</strong> means the Secretary of State for Business, Energy and Industrial Strategy;</p>
      <p><strong>“Complaints Procedure”</strong> means the complaints procedure set out from time to time at [TBC];</p>
      <p><strong>“Confidential Information”</strong> means all confidential information (however recorded or preserved) disclosed by a party or its representatives to the other party and that party's representatives in connection with the Scheme, including but not limited to:</p>
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
        <p>a) any information that would be regarded as confidential by a reasonable business person relating to: (i) the business, affairs, customers, suppliers or plans of the disclosing party; and (ii) the operations, processes, product information, know-how, designs, trade secrets or software of the disclosing party;</p>
        <p>b) any information developed by the parties in the course of carrying out the Scheme;</p>
        <p>c) Personal Data; and</p>
        <p>d) any commercially sensitive information which either party has indicated that, if disclosed by the other party, would cause significant commercial disadvantage or material financial loss;</p>
<!--      </ul>-->
      <p><strong>“Controller”</strong> has the meaning given in the UK GDPR;</p>
      <p><strong>“Data Protection Legislation”</strong> means all applicable data protection and privacy legislation in force from time to time in the UK including the UK GDPR; the Data Protection Act 2018 (DPA 2018) (and regulations made thereunder); and the Privacy and Electronic Communications Regulations 2003 (SI 2003 No. 2426) as amended; and all other legislation and regulatory requirements in force from time to time which apply to a party relating to the use of Personal Data (including, without limitation, the privacy of electronic communications); and the guidance and codes of practice issued by the Information Commissioner or other relevant data protection or supervisory authority and applicable to a party;</p>
      <p><strong>“De Minimis aid”</strong> has the meaning given in Article 10 of the Northern Ireland Protocol and Commission Regulation (EU) No 1407/2013;</p>
      <p><strong>“EIR”</strong> means the Environmental Information Regulations 2004 (SI 2004/3391) together with any guidance and/or codes of practice issued by the Information Commissioner or relevant government department in relation to such regulations;</p>
      <p><strong>“Eligible Software Product”</strong> means Software (and/or upgrade) which has been approved by BEIS as meeting the Software Eligibility Criteria;</p>
      <p><strong>“FOIA”</strong> means the Freedom of Information Act 2000, and any subordinate legislation made under the Act from time to time, together with any guidance and/or codes of practice issued by the Information Commissioner or relevant government department in relation to such legislation;</p>
      <p><strong>“Grant Token”</strong> means the document or discount issued to a SME by the Scheme Administrator by way of the offer of a particular amount of grant funding for the purchase of Eligible Software Products;</p>
      <p><strong>“Grant Token Expiry Date”</strong> means the date of expiry specified by BEIS or the Scheme Administrator or stated on the Grant Token</p>
      <p><strong>“Help to Grow Platform”</strong> means the online platform for the Scheme detailing the Eligible Software Products available within the Scheme;</p>
      <p><strong>“Initial Period”</strong> means the initial term for the Software Terms and Conditions to which the Grant Token relates which shall be unless specified otherwise on the Help to Grow Platform a period of 12 months (excluding any free trial period but including any discount period);</p>
      <p><strong>“Personal Data”</strong> has the meaning given to it in the UK GDPR;</p>
      <p><strong>“Processor”</strong> has the meaning given to it in the UK GDPR; </p>
      <p><strong>“Relevant Records”</strong> means any financial information relating to the redemption of a Grant Token and the purchase of Eligible Software Product (including cancellation or refund information);</p>
      <p><strong>“Registered Vendor”</strong> means any vendor meeting the Vendor Eligibility Criteria, which has been successfully registered to participate in the Scheme and is listed on the Help to Grow Platform;</p>
      <p><strong>“Scheme”</strong> means the “Help to Grow” scheme established by BEIS to support the purchase and adoption of Eligible Software Products by SMEs;</p>
      <p><strong>“Scheme Administrator”</strong> means the contractor appointed by BEIS to administer the Scheme from time to time and notified to the SME on the Help To Grow Platform;</p>
      <p><strong>“Small Amounts of Financial Assistance”</strong> has the meaning given to it in clause 17.4;</p>
      <p><strong>“SME”</strong> means an organisation meeting the SME Eligibility Criteria;</p>
      <p><strong>“SME Eligibility Criteria”</strong> means the requirements in place from time to time and specified at [TBC], being the requirements which a SME must meet in order to be eligible to apply for and receive a Grant Token;</p>
      <p><strong>“SME Terms and Conditions”</strong> means the relevant terms and conditions which apply to SMEs under the Scheme from time to time;</p>
      <p><strong>“Software Eligibility Criteria”</strong> means the requirements in place from time to time and specified at [TBC], being the requirements which a Registered Vendor must demonstrate are met by Software in order to be deemed an Eligible Software Product;</p>
      <p><strong>“Software Licence Fee”</strong> means the total licence fee(s) payable by the SME to the Registered Vendor for the purchase of the Eligible Software Product;</p>
      <p><strong>“Software Terms and Conditions”</strong> means the terms and conditions for the licence and use of an Eligible Software Product which shall be entered into directly between the Registered Vendor and the SME;</p>
      <p><strong>“UK GDPR”</strong> has the meaning given to it in section 3(10) (as supplemented by section 205(4)) of the Data Protection Act 2018;</p>
      <p><strong>“Vendor Eligibility Criteria”</strong> means the requirements in place from time to time and specified at <a href="https://www.gov.uk/guidance/help-to-grow-digital-apply-to-become-a-vendor" class="govuk-link">Help to Grow: Digital – apply to become a vendor</a>, being the requirements which a Vendor must meet in order to be eligible to participate in the Scheme as a Registered Vendor;</p>
      <p><strong>“Working Day”</strong> any day other than a Saturday, Sunday or public holiday in England and Wales.</p>
      <p class="govuk-body-s">Last updated 1 December 2021</p>

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Useful links
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="privacy-policy" class="govuk-link">
              Privacy policy
            </a>
          </li>
          <li>
            <a href="http://htg-uat-webapp-app.htg-uat-webapp-env.p.azurewebsites.net/" class="govuk-link">
              Help to Grow: Digital website
            </a>
          </li>
          <li>
            <a href="start-page" class="govuk-link">
              Apply for discount on business software
            </a>
          </li>
          <li>
            <a href="general-guidance" class="govuk-link">
              General guidance
            </a>
          </li>
          <li>
            <a href="how-to-get-in-touch" class="govuk-link">
              How to get in touch
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>

</div>

{% endblock %}
