{% extends "layout_sme.html" %}

{% block pageTitle %}
  Token not issued
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Unfortunately, your application has not been successful</h1>
      <p class="govuk-body">If you would like to enquire about this decision, you can contact the Help to Grow: Digital team at: <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a></p>

      <p class="govuk-body">Common reasons for unsuccessful applications include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the business is not registered in the UK</li>
          <li>records show the business has not been trading for more than 12 months</li>
          <li>the business has fewer than 5 or more than 249 employees</li>
          <li>the business has failed fraud risk checks</li>
        </ul>

      <p>For further guidance on Help to Grow: Digital, please visit: <a href="/sme-v5/general-guidance" class="govuk-link">general guidance</a>.</p>

    </div>
  </div>

{% endblock %}
