{% extends "layout_sme.html" %}

{% block pageTitle %}
  Check work email
{% endblock %}

{% block beforeContent %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<br>
  <a class="govuk-back-link" href="check-work-email">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Section 6 of 6</span>
      <h1 class="govuk-heading-l">You've verified your email address</h1>      
      <p class="govuk-body">You can now apply for your Help to Grow: Digital software discount</p>
      <form class="form" action="../token-issued" method="get">
        <button class="govuk-button" data-module="govuk-button">Apply</button>
      </form>
    </div>


  </div>

{% endblock %}
