{% extends "layout_sme.html" %}

{% block pageTitle %}
  Companies House number
{% endblock %}

{% block beforeContent %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<br>
  <a class="govuk-back-link" href="companies-house-question">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="check-company-details" method="get">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Company</span>
            <h1 class="govuk-fieldset__heading">
              What is your Companies House number?
            </h1>
          </legend>
          <!--
          <p class="govuk-body">To confirm your company details we need to know your Companies House number. This is also known as the company registration number.</p>

          <p>You can find your Companies House number on your certificate of incorporation. You can also <a href="https://find-and-update.company-information.service.gov.uk" class="govuk-link">search the Companies House register</a> (opens in new tab)</p>
          -->
          <div class="govuk-form-group">
            <!--
            <label class="govuk-label" for="companies-house-number">
              Companies House number
            </label>
            -->
            <div class="govuk-hint">For example, SP450735</div>
            <input class="govuk-input" id="companies-house-number" name="companies-house-number" type="text">
          </div>





        </fieldset>
        <!--
        <h2 class="govuk-heading-m govuk-!-margin-top-30">I do not know my Companies House number</h2>
        -->


      </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
