{% extends "layout_sme.html" %}

{% block pageTitle %}
Cookies on Help to Grow: Digital
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">

<p><a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="javascript:history.back()">Back</a></p>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Cookies on Help to Grow: Digital</h1>

        <p class="govuk-body">Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
        <p class="govuk-body">We use cookies to store information about how you use the Help to Grow: Digital website, such as the pages you visit.</p>


        <h2 class="govuk-heading-m">Cookie settings</h2>
        <p class="govuk-body">We use 3 types of cookie. You can choose which cookies you're happy for us to use.</p>

        <h2 class="govuk-heading-m">Strictly necessary cookies</h2>
        <p class="govuk-body">These essential cookies do things like remember your progress through an application. These will include information you submit during the software product selection and licence application.</p>
        <p class="govuk-body">They always need to be on.</p>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Cookies that measure website use
              </h1>
            </legend>
            <p class="govuk-body">We use Google Analytics to measure how you use the website so we can improve it based on user needs. We do not allow Google Analytics to use or share the data about your site usage anywhere else.</p>
            <p class="govuk-body">Google Analytics sets cookies that store anonymised information about:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>How you got to the site</li>
                <li>The pages you visit, how long you spend on each page and data about your journey through Help to Grow: Digital and its associated sites</li>
                <li>What you click on while you’re visiting the site</li>
                <li>What pages you leave the site from</li>
                <li>Any downloads you access</li>
            </ul>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="cookies-usage" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Use cookies that measure my website use.
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="cookies-usage" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Do not use cookies that measure my website use.
                </label>
              </div>
            </div>
          </fieldset>
        </div>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Cookies that help with our communications and marketing
              </h1>
            </legend>
            <p class="govuk-body">These cookies may be set by third party websites and do things like measure how you view YouTube videos that are on Help to Grow: Digital.</p>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="cookies-campaigns" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Use cookies that help with communications and marketing.
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="cookies-campaigns" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Do not use cookies that help with communications and marketing.
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Cookies that remember your settings
              </h1>
            </legend>
            <p class="govuk-body">These cookies do things like remember your preferences, such as when you choose a software product, to personalise your experience of using the site.</p>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="cookies-settings" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Use cookies that remember my settings on the site.
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="cookies-settings" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Do not use cookies that remember my settings on the site.
                </label>
              </div>
            </div>
          </fieldset>
        </div> -->

        <p class="govuk-body"><a href="" class="govuk-link">Find out more about cookies on the GOV.UK website</a>.</p>

        <button class="govuk-button" data-module="govuk-button">
          Save changes
        </button>

    </div>

</div>
{% endblock %}
