{% extends "layout_sme.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<br>
  <a class="govuk-back-link" href="../software/add-ons">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Company</span>
      <h1 class="govuk-fieldset__heading">
        Do you have a Companies House number?
      </h1>
    </legend>

    <p class="govuk-body">This is also known as a company registration number.</p>

    <p class="govuk-body">You can find your Companies House number on your certificate of incorporation. You can also <a href="https://find-and-update.company-information.service.gov.uk" class="govuk-link" target="_blank">search the Companies House register</a> (opens in new tab).</p>
    <!--
    <div id="changed-name-hint" class="govuk-hint">
      This includes changing your last name or spelling your name differently.
    </div>
    -->

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
            <label class="govuk-label govuk-radios__label" for="sign-in">
              Yes – I have a Companies House number
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="sign-in-2">
              No - I have a Financial Conduct Authority number
            </label>

          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
            <label class="govuk-label govuk-radios__label" for="sign-in-2">
              No - I do not have a Companies House number or a Financial Conduct Authority number
            </label>

          </div>
        </div>

      </fieldset>
    </div>



  </fieldset>



</div>

<form class="form" action="company-details" method="get">
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>

<!--
<button class="govuk-button" data-module="govuk-button">Continue</button>
-->

    </div>
  </div>

{% endblock %}
