{% extends "layout_sme.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<br>
  <a class="govuk-back-link" href="work-email">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l"></span>
      <h1 class="govuk-heading-l">Check your answers</h1>

      <!--
      <h2 class="govuk-heading-m">Company details</h2>
      -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <!--
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of employees
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['company-size'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="name">
              Change
              <span class="govuk-visually-hidden"> Name</span>
            </a>
          </dd>
        </div>
        -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Applicant name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['full-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="name">
              Change
              <span class="govuk-visually-hidden"> Name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Applicant role
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['role'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="role">
              Change
              <span class="govuk-visually-hidden"> Role</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Work email address
          </dt>
          <dd class="govuk-summary-list__value">
          {{ data['work-email'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="work-email">
              Change
              <span class="govuk-visually-hidden"> Work email address</span>
            </a>
          </dd>
        </div>


      </dl>
      <!--
      <h2 class="govuk-heading-m">Now send your application</h2>
      -->
      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="../terms-and-conditions" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm
        </button>

      </form>

    </div>
  </div>
{% endblock %}
