{% extends "layout_sme.html" %}

{% block pageTitle %}
  What is your phone number?
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="role">Back</a></p>
{% endblock %}

{% block content %}

<div style="display:none" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#phone-number">Enter your phone number so taht we can provide support for using your discount.</a>
      </li>
    </ul>
  </div>
</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../terms-and-conditions" method="post">

        <div class="govuk-form-group">
          <span class="govuk-caption-l">Section 3 of 4</span>
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="phone">
            What is your phone number?
          </label></h1>

<!--          <p class="govuk-body">If your application is successful, we will send your software discount link to this address.</p>-->
          <div id="email-hint" class="govuk-hint">Enter your phone number so taht we can provide support for using your discount.</div>
          <span style="display:none" id="phone-number" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Enter your phone number so taht we can provide support for using your discount.
          </span>
          <input class="govuk-input govuk-!-width-three-quarters" id="phone" name="phone" type="number" spellcheck="false" aria-describedby="email-hint">

        </div>

        <button class="govuk-button phone-number" data-module="govuk-button">Continue</button>

      </form>

    </div>


  </div>

{% endblock %}
