{% extends "layout_sme.html" %}

{% block pageTitle %}
  Terms and conditions and Privacy Consent
{% endblock %}


{% block beforeContent %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="">Back</a></p>
{% endblock %}

{% block content %}



    <div style="display:none" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#select-product">Select a software product to continue</a>
          </li>
        </ul>
      </div>
    </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/" method="post">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <div class="govuk-form-group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">Section 1 of 6</span>
                <h1 class="govuk-fieldset__heading">
                  What software product do you want to buy?
                </h1>
              </legend>
              <label class="govuk-label" for="category">
               Select software category
              </label>
              <select style="width:100%" class="govuk-select" id="category" name="category">
                <option value="cat1" selected>Accounting</option>
                <option value="cat2">Customer relationship manager (CRM)</option>
                <option value="cat3">e-commerce</option>
              </select>
              <button class="govuk-button govuk-button--secondary govuk-!-margin-top-3" data-module="govuk-button">
                Find products
              </button>
            </div>
          </div>
        </div>

        <span style="display:none" id="select-product" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Select a software product to continue
        </span>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full filter-table">

        <table class="govuk-table">

          <thead class="govuk-table__head">
          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header">Product name</th>
            <th scope="col" class="govuk-table__header">Product type</th>
            <th scope="col" class="govuk-table__header">Price before discount</th>
            <th scope="col" class="govuk-table__header">Price after discount</th>
            <th scope="col" class="govuk-table__header">Discount period</th>
            <th scope="col" class="govuk-table__header">Select product</th>

          </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Accounts of Monte Cristo</td>
              <td class="govuk-table__cell">Accounting</td>
              <td class="govuk-table__cell">£100</td>
              <td class="govuk-table__cell">£50</td>
              <td class="govuk-table__cell">Dec 2021 to Dec 2022</td>
              <td class="govuk-table__cell">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="product-name1" name="product-name" type="radio" value="1">
                <label class="govuk-label govuk-radios__label" for="product-name1"><span class="govuk-visually-hidden">Product1</span></label>
              </div>
            </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Loyal Mint</td>
              <td class="govuk-table__cell">Accounting</td>
              <td class="govuk-table__cell">£100</td>
              <td class="govuk-table__cell">£50</td>
              <td class="govuk-table__cell">Jan 2021 to Mar 2021</td>
              <td class="govuk-table__cell">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="product-name2" name="product-name" type="radio" value="2">
                <label class="govuk-label govuk-radios__label" for="product-name2"><span class="govuk-visually-hidden">Product2</span></label>
              </div>
            </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Budgetiser</td>
              <td class="govuk-table__cell">Accounting</td>
              <td class="govuk-table__cell">£100</td>
              <td class="govuk-table__cell">£50</td>
              <td class="govuk-table__cell">Jan 2021 to Mar 2021</td>
              <td class="govuk-table__cell">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="product-name3" name="product-name" type="radio" value="3">
                <label class="govuk-label govuk-radios__label" for="product-name3"><span class="govuk-visually-hidden">Product3</span></label>
              </div>
            </td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Monify</td>
              <td class="govuk-table__cell">Accounting</td>
              <td class="govuk-table__cell">£100</td>
              <td class="govuk-table__cell">£50</td>
              <td class="govuk-table__cell">Jan 2021 to Mar 2021</td>
              <td class="govuk-table__cell">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="product-name3" name="product-name" type="radio" value="3">
                  <label class="govuk-label govuk-radios__label" for="product-name3"><span class="govuk-visually-hidden">Product3</span></label>
                  </div>
              </td>
              </tr>

          </tbody>
          </table>


        </div>
      </div>



        <button class="govuk-button select-product" data-module="govuk-button">
          Continue
        </button>

      </form>



    </div>
  </div>

{% endblock %}
