{% extends "layout_sme.html" %}

{% block pageTitle %}
  Check work email
{% endblock %}

{% block beforeContent %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<br>
  <a class="govuk-back-link" href="check-your-answers">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Applicant</span>
      <h1 class="govuk-heading-l">We have sent an email to [name@email.com]</h1>
      <p class="govuk-body">Follow the link in the email to confirm who you are.</p>
      <h2 class="govuk-heading-m">I didn't receive the email</h2>
      <a href="work-email" class="govuk-link">Enter your work email address again</a>
    <br>
    <br>
    <br>

      <form class="form" action="../token-issued" method="get">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>


  </div>

{% endblock %}
