{% extends "layout_sme.html" %}

{% block pageTitle %}
  Company size
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="new-to-software">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Does the business employ between 5 and 249 people?
            </h1>
          </legend>
          <br>
        <!--<p class="govuk-body">
            Your businees needs to have between 5 and 249 employess to be eligible for the scheme.
          </p>-->

          <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>

        </fieldset>
      </div>

      <form class="form" action="companies-house-number" method="get">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
