{% extends "layout_sme.html" %}

{% block pageTitle %}
  Product list
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="landing-page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which software product would you like to buy?
            </h1>
          </legend>
          <p id="govuk-body">Software list</p>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-software-1" name="select-software" type="radio" value="Software 1">
              <label class="govuk-label govuk-radios__label" for="select-software-1">
                Software 1
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-software-2" name="select-software" type="radio" value="Software 2">
              <label class="govuk-label govuk-radios__label" for="select-software-2">
                Software 2
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-software-3" name="select-software" type="radio" value="Software 3">
              <label class="govuk-label govuk-radios__label" for="select-software-3">
                Software 3
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-software-4" name="select-software" type="radio" value="Software 4">
              <label class="govuk-label govuk-radios__label" for="select-software-4">
                Software 4
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-software-5" name="select-software" type="radio" value="Software 5">
              <label class="govuk-label govuk-radios__label" for="select-software-5">
                Software 5
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-software-6" name="select-software" type="radio" value="Software 6">
              <label class="govuk-label govuk-radios__label" for="select-software-6">
                Software 6
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-software-7" name="select-software" type="radio" value="Software 7">
              <label class="govuk-label govuk-radios__label" for="select-software-7">
                Software 7
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-software-8" name="select-software" type="radio" value="Software 8">
              <label class="govuk-label govuk-radios__label" for="select-software-8">
                Software 8
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <form class="form" action="new-to-software" method="get">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
