{% extends "layout_sme.html" %}

{% block pageTitle %}
  Email unsubscribed
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="" method="post">
      <h1 class="govuk-heading-l">Email unsubscribed</h1>
      <p>Your email has been removed from our mailing list.</p>
      <p>For more information about the Help to Grow: Digital scheme, please visit our <a href="https://uat-www.learn-to-grow-your-business.service.gov.uk/" class="govuk-link">home page</a>.</p>
    </form>


  </div>
</div>


{% endblock %}
