{% extends "layout_sme.html" %}

{% block pageTitle %}
  Help to Grow - SME Protoype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        SME prototypes
        <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
      </h1> {{releaseVersion | log }}
      <p  class="govuk-body">Follow the links to view the prototype pages</p>

      <h2 class="govuk-heading-m">SME software scheme application</h2>
      <!--
      <h3 class="govuk-heading-s">Check eligibility</h3>
      -->
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="sme/start-page">Start page</a>
        </li>
        <!--
        <li>
          <a href="sme/task-list">Task list</a>
        </li>
        -->
        <li>
          <a href="sme/software/select-software">Software: select software</a>
        </li>
        <li>
          <a href="sme/software/new-to-software">Software: new software</a>
        </li>
        <li>
          <a href="sme/software/major-upgrade">Software: major upgrade</a>
        </li>
        <li>
          <a href="sme/software/add-ons">Software: add ons</a>
        </li>
        <!--
        <li>
          <a href="sme/software/check-your-answers">Software: check your answers</a>
        </li>
        -->
        <li>
          <a href="sme/company/company-size">Company: company size</a>
        </li>
        <li>
          <a href="sme/company/directors-dob">Company: company director details</a>
        </li>
        <li>
          <a href="sme/company/companies-house-question">Company: Companies House or FCA number</a>
        </li>
        <!--
        <li>
          <a href="sme/company/check-your-answers">Company: check your answers</a>
        </li>
        -->
        <li>
          <a href="sme/applicant/name">Applicant: name</a>
        </li>
        <li>
          <a href="sme/applicant/role">Applicant: role</a>
        </li>
        <li>
          <a href="sme/applicant/work-email">Applicant: work email</a>
        </li>
        <li>
          <a href="sme/applicant/confirm-work-email">Applicant: check work email</a>
        </li>
        <li>
          <a href="sme/applicant/check-work-email">Applicant: confirm work email</a>
        </li>
        <!--
        <li>
          <a href="sme/applicant/check-your-answers">Applicant: check your answers</a>
        </li>
        -->
        <li>
          <a href="sme/terms-and-conditions">T&Cs and privacy policy consent</a>
        </li>
        <li>
          <a href="sme/check-your-answers">Check your answers</a>
        </li>
        <li>
        <a href="sme/token-issued">Token issued</a>
        </li>

      </ul>

      <!--
      <h3 class="govuk-heading-s">Get token (voucher)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="sme/get-token/authorised-person">Authorised person</a>
        </li>
        <li>
          <a href="sme/check-eligibility/company-elligible">Company is eligible</a>
        </li>
        <li>
          <a href="sme/check-eligibility/company-not-elligible">Company is not eligible</a>
        </li>
        <li>
          <a href="sme/check-eligibility/register-interest">Register interest</a>
        </li>

      </ul>
      -->

    </div>
  </div>

{% endblock %}
