{% extends "layout_sme.html" %}

{% block pageTitle %}
  Help to Grow - SME Protoype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        SME prototypes
        <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
      </h1> {{releaseVersion | log }}

      <p  class="govuk-body">Follow the links to view the prototype pages.</p>

      <h2 class="govuk-heading-m">Apply for discount on business software: v1</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="sme/start-page">Start page</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Apply for discount on business software: v2</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
        <a href="sme-v2/start-page">Start page</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Apply for discount on business software: v3</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
        <a href="sme-v3/start-page">Start page</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
