{% extends "layout_sme.html" %}

{% block pageTitle %}
  Companies House number
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="companies-house-question">Back</a></p>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="check-company-details" method="post" novalidate>

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="companies-house-number">
                Companies house number not found
              </label>
            </h1>
          </div>

<!--          <button class="govuk-button company-house-number" data-module="govuk-button">Continue</button>-->

        </form>

    </div>


  </div>

{% endblock %}
